@import "tailwindcss";

@theme {
  /* Definiujemy nasze kolory "Polskiego Rękodzieła" */
  --color-nature-dark: #052c24;
  --color-nature-forest: #064e3b;
  --color-nature-accent: #d97706;
  --color-nature-sand: #f5f5f4;
  --color-nature-wood: #451a03;

  /* Definiujemy czcionki */
  --font-serif: var(--font-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}

/* Podstawowe style */
body {
  background-color: var(--color-nature-sand);
  color: var(--color-nature-dark);
}